{% extends 'base.html' %}

{% block title %}Password Change{%endblock%}

{% block content %}
    <div class="auth-from-container">
        <h1 class="auth-info-text">Change your password</h1>
        <form action="." method="post">
            {% csrf_token %}
            <input type="password" name="old_password"  placeholder="Old password" class="auth-form-input"><br>
            <input type="password" name="new_password1" placeholder="New password"  class="auth-form-input"><br>
            <input type="password" name="new_password2" placeholder="Repeat new password"  class="auth-form-input">
            <button class="auth_button">Change password</button>
        </form>
        
    </div>
{%endblock%}