{% extends 'base.html' %}

{% block title %}Password reset{%endblock%}

{% block content %}
    <div class="auth-from-container">
        {% if validlink %}
            {% if form.errors %}
                <p class="auth-error">Something wrong, maybe password disagree or not all fields are field</p>
            {% endif %}
            <form action="." method="post" class="auth_form">
                {% csrf_token %}
                <input type="password" placeholder="new password" name="new_password1" class="auth-form-input"><br>
                <input type="password" placeholder="repeat a new password" name="new_password2" class="auth-form-input"><br>
                <button class="auth_button">Change my password</button>
            </form>
        {% else %}
            <p>The password reset link was invalid, possibly because it
            has already been used. Please request a new password reset.</p>
        {% endif %}

    </div>
{%endblock%}